.footer_back{
  background: rgba(0, 0, 0, 0.85);
  color: #FFFFFF;
}
.footer{
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer_logo{
  color: #FEFEFE;

  font-family: Roboto Mono;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer_one{
  margin-top: 12px;
}
.footer_number{
  margin-top: 24px;
}
.footer_email{
  margin-top: 30px;
}
.footer_two{
  margin-top: 27px;
}
.footer_nav{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  margin-top: 72px;
}
.footer_nav_ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.footer_nav_ul li a{
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  width: 70px;
}
.footer_input{
  margin-top: 86px;
  padding: 12px 192px 12px 20px;
  border-radius: 10px;
}
.footer_input::placeholder{
  color: rgba(0, 0, 0, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.9%; /* 26.064px */
}
.footer_nav_col div{
  display: flex;
  flex-direction: column;
}

.search-results-dropdown {
    background-color: #ffffff; /* White background for visibility */
    color: #000000; /* Black text for contrast */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: absolute; /* Position it below the search bar */
    width: 100%; /* Match the width of the search input */
    max-height: 300px; /* Limit the height with overflow for longer lists */
    overflow-y: auto; /* Enable vertical scrolling for overflow */
    z-index: 1000; /* Ensure it's on top of other elements */
    left: 0; /* Align it with the left of the parent container */
    top: 100%; /* Position it right below the search input */
    margin-top: 0.5rem; /* Add a small space between the input and the dropdown */
}

.search-results-dropdown div {
    padding: 10px 15px; /* Padding inside each result item */
    cursor: pointer; /* Change cursor to indicate interactivity */
    line-height: 1.5; /* Adequate line spacing for readability */
}

.search-results-dropdown div:hover {
    background-color: #f8f8f8; /* Slight background change on hover for feedback */
}
